[submodule "backend"]
	path = backend
	url = git@gitlab.helpcase.ru:helpcase/backend.git
[submodule "frontend"]
	path = frontend
	url = git@gitlab.helpcase.ru:helpcase/frontend.git
[submodule "api"]
	path = api
	url = git@gitlab.helpcase.ru:helpcase/api.git
